<nav class="left-sidebar-menu">
  <ul>
     <li>
        <a routerLink="">
          <span><fa [name]="'home'"></fa></span>
          <span>Home</span>
        </a>
     </li>
     <!--<li>
        <a href="#">
          <span><fa [name]="'pie-chart'"></fa></span>
          <span>Statistics</span>
        </a>
     </li>-->
     <li>
         <a routerLink="/aggregate">
           <span><fa [name]="'id-card'"></fa></span>
           <span>Aggregates</span>
         </a>
     </li>
     <li>
         <a routerLink="/about">
           <span><fa [name]="'info'"></fa></span>
           <span>About</span>
         </a>
     </li>
  </ul>
</nav>
